content {
  width: 980px;
  height: 500px;
  color: orange;
}
content .offer1 {
  width: 980px;
  height: 240px;
  color: green;
}
content .offer2 {
  width: 980px;
  height: 240px;
  color: purple;
}

nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  width: 1280px;
  height: 100px;
  color: #79addc;
}