.content {
  width: $content-width;
  height: 600px;
  color: orange;

  .offer1 {
    width: 980px;
    height: 200px;
    color: green;
  }

  .offer2 {
    width: 980px;
    height: 200px;
    color: purple;
  }
}
